<html>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/assets/login.js"></script>
    <label>you have the following job</label><br>
    <button id="start">start</button><br>
    <button id="stop">stop</button><br>
</html>
